$project-padding: 20px;

.project {
  padding: $vertical-space*1.2 0;
  margin: 0;

  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.3em;
    margin-bottom: $vertical-space;
    margin-top: 1em;

    @media (max-width: $breakpoint) {
      font-size: 1.3em;
    }
  }

  h4 {
    background: pink;
    color: $hero-color;
    font-size: 0.8em;
    padding: .4em .8em;
    display: inline-block;
    margin-bottom: 0;
  }

  p {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 300;

    @media (max-width: $breakpoint) {
      font-size: 0.9em;
    }
  }

  .project-text {
    max-width: $max-width;
    margin: $vertical-space*2 auto;
    margin-bottom: $vertical-space * 3;
    border-bottom: 2px dashed transparentize($font-color, 0.8);
    padding-bottom: 1em;

    @media (max-width: $breakpoint) {
      max-width: auto;
      margin: $vertical-space auto;
      padding: 1em;
    }
  }

  .images {
    max-width: $max-width;
    margin: auto;
    display: block;
    box-shadow: 0 0px 3px transparentize(black, 0.5);
  }

  #slidr-div {
    height: 400px;
  }
}
