$project-padding: 20px;

.project {
  /*border-top: 4px solid white;*/
  padding: $vertical-space*3 0;
  margin: 0;

  h2 {
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Anaheim', sans-serif;*/
    /*font-family: 'Bigshot One', cursive;*/
    font-size: 3em;
    margin-bottom: $vertical-space;
    margin-top: 1em;
  }

  h4 {
    background: pink;
    color: $hero-color;
    font-size: 0.8em;
    padding: .4em .8em;
    display: inline-block;
    margin-bottom: 0;
  }

  p {
    /*font-family: 'Work Sans', sans-serif;*/
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 300;
  }

  .project-text {
    max-width: 667px;
    margin: $vertical-space*2 auto;
    margin-bottom: $vertical-space * 3;
    border-bottom: 2px dashed $font-color;
    padding-bottom: 1em;
  }

  .images {
    /*border-radius: 5px;*/
    max-width: 667px;
    max-height: 400px;
    margin: auto;
    display: block;
    box-shadow: 0 0px 3px transparentize(black, 0.5);
  }

  #slidr-div {
    height: 400px;
  }
}
