$breakpoint: 680px;
$hero-color: #231F1F;
$background-color: $hero-color;
$vertical-space: 1rem;
$font-color: #E2DDC5;
$max-width: 667px;

@import "normalize";
@import "prism";
@import "project";
@import "resume";

body {
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
}

a {
  color: $font-color;

}

.hero {
  display: flex;
  height: 100vh;
  position: fixed;
  text-align: left;
  width: 100%;
  
  .hero-content {
    margin: 14em auto 0;
    width: $max-width;
    z-index: 1;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 5em;
    line-height: 1;
    padding: 0.7em 0 0.6em;

    @media (max-width: $breakpoint) {
      font-size: 2.5em;
    }
  }

  h2 {
    font-weight: 400;
  }

  .keywords {
    font-family: 'Oswald', sans-serif;
    color: transparentize($hero-color, 0.1);
    display: flex;
    justify-content: space-between;

    div {
      font-family: 'Work Sans', sans-serif;
      font-size: 0.8em;
      font-weight: 500;
      flex-grow: 1;
      padding: 0.5em 0;
      text-align: center;
    }

    div:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    div:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .ux {
    background: #A9D7FF;
  }
  .web {
    background: #3CB3B3;
  }
  .gfx {
    background: pink;
  }
  .html {
    background: #FF7D66;
  }
  .js {
    background: #FFFFA8;
  }
  .scss {
    background: #3CB3B3;
  }
  .ixd {
    background: #66FFB5;
  }
  .type {
    background: #66FFB5;
  }

}

.container {
  /*color: white;*/
  padding: 3em 0 0;
  width: 100%;
  position: relative;
  top: 100vh;
  z-index: 2;
}

img {
  width: 100%;
}

.scroll-on-page-links {
  display: block;
  color: $font-color;
  max-width: 99px;
  margin: 12em auto 0;
  text-align: center;
  border-top: 1px dashed transparentize($font-color, 0.8);
  opacity: 0;
}

.scroll-on-page-link {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  padding: 0.4em 0;
  border-bottom: 1px dashed transparentize($font-color, 0.8);
}

.js-slide-up {
  margin-top: 8em;
  opacity: 1;
}

