<section class="hero">
  <div class="hero-content">
    <h1>Magnus Gyllenswärd</h1>
    <div class="keywords">
      <div class="ux">UX/IxD</div>
      <div class="web">HTML/SCSS/JS</div>
      <div class="gfx">GFX</div>
      <div class="tb">thoughtbot</div>
      <div class="veryday">Veryday</div>
      <div class="ii">Interactive Institute</div>
    </div>

<!-- 
    <h2>Frontend Designer</h2>
    <h2>Interaction Designer</h2>
    <h2>Graphic Designer</h2> -->
  </div>
</section>

<div class="container">  
  <div class="project">
    <div class="images slick-slider">
      
    </div>

    <div class="project-text">
      <h2>Refills Web Components</h2>
      <p>http://refills.bourbon.io/ EMPTIES</p>
    </div>
  </div>

<div class="container">  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/6_3.png"/>
      <img src="images/projects/6_2.png"/>
    </div>
    <div class="project-text">
      <h2>Future Health Care Concept</h2>
      <p>A concept project on the Microsoft Surface table, posing questions around the future of health care. This application lets users investigate their health data over time and it allows for comparisons between average situations and the users own data.</p>
    </div>
  </div>


<!--   <div class="hej top"></div>
  <div class="full-width">
    <p><a href="https://robots.thoughtbot.com/be-a-good-designer-be-a-good-client">A good designer</a> is a good teacher</p>
  </div>
  <div class="hej bottom"></div> -->

  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/27.jpg" data-adaptive-background/>
      <img src="images/projects/27_2.png">
    </div>
    <div class="project-text">
      <h2>Spotify for Windows Phone 7</h2>
      <p>I created the graphics for this Windows Phone 7 app together with Tobias Bjerrome Ahlin at Spotify. The interaction design was made by Niklas Wolkert. The reviews were pretty nice, Gizmodo.com wrote 'This Is How Every Windows Phone App Should Look', businessinsider.com wrote 'Gorgeous Spotify App For Windows Phone Is Finally Here'.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images">
      <img src="images/projects/34.png" data-adaptive-background>
    </div>
    <div class="project-text">
      <h2>Swegon air handling unit</h2>
      <p>Complete design, hardware and software, for a professional, industrial, indoor climate regulation system. A touchscreen with a dashboard UI, drilldown to settings and adjustments of temperatures, inflow and outflow. Best in Category Optimizing, at the IxDA 2014 Interaction Awards.</p>
    </div>
  </div>

  <div class="project">
    <div class="images">
      <img src="images/projects/39_2.png" data-adaptive-background>
    </div>
    <div class="project-text">
      <h2>ITT Flygt pump station interface</h2>
      <p>Touch screen interface for waste water pump stations. History data on water levels is always visualized in the background and every sub menu is reachable from every screen for fast interaction.</p>
    </div>
  </div>

  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/29_6.png" data-adaptive-background>
      <img src="images/projects/29_2.png">
    </div>
    <div class="project-text">
      <h2>Sonicspree Music Game</h2>
      <p>A music game for the Windows Tablet and the Microsoft surface table. In 2009 this game won the <i>Surprise of the Year</i> .NET awards.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/40_2.png" data-adaptive-background>
      <img src="images/projects/40.png">
    </div>
    <div class="project-text">
      <h2>Various websites</h2>
      <p>Website design and coding for barcampstockholm.com, gamefacemedia.com.</p>
    </div>
  </div>
  
<!--   <div class="project">
    <div class="project-text">
      <h2>Music Application</h2>
    <p>A completely made up, not functioning, not interaction designed graphic exploration of a user interface for a music application.</p>
    </div>
    <img src="images/projects/15.jpg" data-adaptive-background>
  </div> -->
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/30_6.png" data-adaptive-background>
      <img src="images/projects/30_7.png">
      <img src="images/projects/30.png">
      <img src="images/projects/30_2.png">
      <img src="images/projects/30_3.png">
      <img src="images/projects/30_4.png">
    </div>
    <div class="project-text">
      <h2>Pinball Expo 2011</h2>
      <p>Promotional material created for the Pinball Expo in Chicago 2011. The project included a poster, a web site, a booklet, a street ad and an iPhone app.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/20_4.png">
      <img src="images/projects/38.png" data-adaptive-background>
      <img src="images/projects/38_2.png">
      <img src="images/projects/38_3.png">
      <img src="images/projects/20.jpg">
    </div>
    <div class="project-text">
      <h2>Various logos</h2>
      <p>asdfasdf  </p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/37.png" data-adaptive-background>
      <img src="images/projects/37_2.png">
    </div>
    <div class="project-text">
      <h2>Diabetes education tools</h2>
      <p>A range of Microsoft Surface Table concepts for better understanding of diabetes and its implications.</p>
    </div>
  </div>
<!-- 
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/28_2.png" data-adaptive-background>
      <img src="images/projects/28.png">
    </div>
    <div class="project-text">
      <h2>Daily buttons</h2>
    <p>My contributions to the site dailybutton.com</p>
    </div>
  </div>
 -->

  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/35.png" data-adaptive-background>
      <img src="images/projects/35_2.png">
    </div>
    <div class="project-text">
      <h2>Sustainable smart phone</h2>
      <p>This phone concept focuses on exchangable and biodegradable parts, a battery charging system that provides transparency to the types of energy used and a UI that communicates with the user via the depth of elements on the screen.</p>
    </div>
  </div>
  
<!--   <div class="project">
    <div class="project-text">
      <h2>Medical product icon set (227 icons)</h2>
    <p>Over 200 icons in various sizes were created for a client. Designed to fit on a dark as well as a light background.</p>
    </div>
    <img src="images/projects/22_3.png" data-adaptive-background>
    <img src="images/projects/22.png">
  </div> -->
  
  <div class="project">
    <div class="images">
      <img src="images/projects/31.png" data-adaptive-background>
    </div>
    <div class="project-text">
      <h2>Illustrations</h2>
    <p>asdf</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/18_2.jpg" data-adaptive-background>
      <img src="images/projects/18_3.jpg">
      <img src="images/projects/18.png">
    </div>
    <div class="project-text">
      <h2>Albert Sjnitke Album Art</h2>
      <p>Interpreting the music of Albert Schnittke (Swedish spelling used for the project), the resulting poster, three album covers and a notebook aims at expressing a shattered, broken but still classical style.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images">
      <img src="images/projects/5.jpg">
    </div>
    <div class="project-text">
      <h2>Book Cover</h2>
      <p>Design of the cover of 'A Whole New Mind' by Daniel H. Pink. Since the book describes the transitions from the industrial age to the information age and on to, what Pink describes as the, 'conceptual age', the concept of the design is aiming at describing these different stages and describing the 'conceptual age' as one that breaks free from the structures of the previous ones.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/11.jpg">
      <img src="images/projects/11_2.jpg">
      <img src="images/projects/11_3.jpg">
      <img src="images/projects/11_4.jpg">
      <img src="images/projects/11_5.jpg">
      <img src="images/projects/11_6.jpg">
      <img src="images/projects/11_7.jpg">
      <img src="images/projects/11_8.jpg">
      <img src="images/projects/11_9.jpg">
    </div>
    <div class="project-text">
      <h2>Adrian Frutiger Exhibition</h2>
      <p>A poster, a catalogue, a ticket and an invitation designed for a (fake) exhibition on the typographer Adrian Frutiger. The aim was to represent the typographer and his design philosophy.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/26_2.jpg">
      <img src="images/projects/26_3.jpg">
    </div>
    <div class="project-text">
      <h2>Flowchart Recipes</h2>
      <p>An attempt to present food recipes in a more visual and logic way. This cookbook contains three recipes for Italian dishes.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/32.png">
      <img src="images/projects/32_2.png">
    </div>
    <div class="project-text">
      <h2>Eastwood Coffee Packaging</h2>
      <p>Packaging concept for a line of Clint Eastwood coffee.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images slick-slider">
      <img src="images/projects/17_5.png">
      <img src="images/projects/17_4.jpg">
      <img src="images/projects/17_6.png">
      <img src="images/projects/17_3.jpg">
      <img src="images/projects/17_7.png">
    </div>
    <div class="project-text">
      <h2>The American Poetry Review</h2>
      <p>Redesigning the style and layout of The American Poetry Review by putting more emphasis on the text content, but still allowing illustrative interpretations of the poems.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images">
      <img src="images/projects/2.jpg">
    </div>
    <div class="project-text">
      <h2>One Image One word</h2>
      <p>An exploration of messages that can be conveyed by applying one word to an image or incorporating a word as a part of an image.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images">
      <img src="images/projects/33.png">
    </div>
    <div class="project-text">
      <h2>Portland General Electrics Annual Report 2011</h2>
      <p>A twenty page annual report for Portland General Electrics focusing on the keywords conveyed by the president of the organization.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="images">
      <img src="images/projects/9.jpg">
    </div>
    <div class="project-text">
      <h2>The Element Radiator</h2>
      <p>A conceptual design for a radiator. 35 bulbs give just as much heat and energy as a normal radiator with the exception that it constantly shows its status with its bright light. This prototype aims at visualizing the energy consumed while heating the home as it reacts to the thermal properties of the room. My focus in this project was on concept development, prototype construction, design and graphical presentation.<br><br>I designed this during my 1,5 years at the Interactive Institute in Sweden. Anton Gustafsson did all the electronics and programming.</p>
    </div>
  </div>
  
  <div class="project">
    <div class="project-text">
      <h2>The Power-Aware Cord</h2>
      <p>Designed to visualise the current use of electricity of the appliances connected with it through glowing pulses, flow, and intensity of light.The cord may be used as a tool for people to rediscover energy in their homes as well as an ambient display to see energy consumption at a glance at any given time. I designed this during my 1,5 years at the Interactive Institute in Sweden. Anton Gustafsson did all the electronics and programming.</p>
    </div>
    <div class="images slick-slider">
      <img src="images/projects/8.jpg">
      <img src="images/projects/8_2.jpg">
    </div>
  </div>
  
  <div class="project">
    <div class="images">
      <img src="images/projects/12.png">
    </div>
    <div class="project-text">
      <h2>Concept Halogen Microwave Oven</h2>
      <p>An oven concept providing better overview of cooking, direct and relevant controls, easy-to-clean glass and halogen elements for a closer and more exact cooking process. The normally mocked microwave oven suddenly becomes a real cooking tool. An Interaction design master thesis work in collaboration with Electrolux, Stockholm 2004.</p>
    </div>
  </div>

  <div class="hej top"></div>
  <div class="full-width">
    <p><a href="https://robots.thoughtbot.com/be-a-good-designer-be-a-good-client">A good designer</a> is a good teacher</p>
  </div>
</div>
